<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>How Minnesota's battleground districts shifted in the 2018 midterm</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <div class="article-dateline"><time pubdate datetime="2018-11-08T12:00:00">November 8, 2018</time></div>
      <p></p>
      <!-- share -->
  </div>

  <section class="container-lg">
      <p>Minnesota was home to <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">four of the most competitive congressional races</a> in the country — key gateways to each party's path to control the U.S. House of Representatives.</p>

      <p>Although Democrats took the House nationally, the bounty in Minnesota was split between Democrats and Republicans — with the GOP winning the First and Eighth Districts in greater Minnesota and the Democrats taking the Second and Third Districts in the Twin Cities suburbs.</p>

      <p>An analysis of precinct-level voting data shows that suburban districts shifted sharply to the left since 2016 — nearly across the board — as the divide between urban and rural voters in greater Minnesota has continued to deepen.</p>

      <p>Explore the shift in each of Minnesota's four most hotly contested districts below:</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist1.png" /></div>
      <h2 class="chartTitle">District One: The urban/rural divide has deepened</h2>
      <p>Occupied by Democrat Tim Walz until he opted to run for governor, this southern Minnesota district featured an open race between Democrat Dan Feehan and Repubulican Jim Hagedorn. In the end, Hagedorn narrowly defeated Feehan in his fourth run for this seat.</p>

      <p>The divide between urban and rural voters was stark. Cities like Mankato and Rochester voted increasingly Democratic compared to 2016, while rural areas across the district turned out in greater percentages for Hagedorn than before.</p>
      <p>&nbsp;</p>
      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-rep winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Jim&nbsp;</span>Hagedorn
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>146,202</span></td>

              <td class="pct"><span class="num">50.2%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 50.2%;"></span>
              </td>
            </tr>

            <tr class="party-dfl" title="Democratic-Farmer-Labor">
              <td title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
              </td>

              <td class="cand">
                <span class="first">Dan&nbsp;</span>Feehan
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>144,890</span></td>

              <td class="pct"><span class="num">49.8%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 49.8%;"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </section>

  <div class="slide">
      <div class="map" id="map1">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                    <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                    </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist2.png" /></div>
      <h2 class="chartTitle">District Two: The suburbs shifted dramatically toward Democrats</h2>
      <p>The rematch between Republican incumbent Jason Lewis and Demoratic challenger Angie Craig turned out very differently than in 2016.</p>

      <p>Without a third-party candidate on the ballot, Craig defeated Lewis by six points, shifting major suburban areas like Burnsville, Eagan and Lakeville toward the left compared to 2016.</p>
      <p>&nbsp;</p>
      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-dfl winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Angie&nbsp;</span>Craig
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>177,971</span></td>

              <td class="pct"><span class="num">52.8%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 52.8%;"></span>
              </td>
            </tr>

            <tr class="party-rep" title="Democratic-Farmer-Labor">
              <td title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
              </td>

              <td class="cand">
                <span class="first">Jason&nbsp;</span>Lewis
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>159,373</span></td>

              <td class="pct"><span class="num">47.2%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 47.2%;"></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
  </section>

  <div class="slide">
      <div class="map" id="map2">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist3.png" /></div>
      <h2 class="chartTitle">District Three: Every precinct voted more Democratic</h2>
      <p>District Three, in the western Twin Cities suburbs, hosted among the most contentious of Minnesota's congressional races this season: a matchup between longtime Republican incumbent Rep. Erik Paulsen Democratic challenger Dean Phillips.</p>

      <p>Every precinct in the district voted more Democratic compared to 2016, and Phillips defeated Paulsen by 12 points.</p>

      <p>&nbsp;</p>

      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-dfl winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Dean&nbsp;</span>Phillips
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>202,402</span></td>

              <td class="pct"><span class="num">55.7%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 55.7%;"></span>
              </td>
            </tr>

            <tr class="party-rep" title="Democratic-Farmer-Labor">
              <td title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
              </td>

              <td class="cand">
                <span class="first">Erik&nbsp;</span>Paulsen
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>160,839</span></td>

              <td class="pct"><span class="num">44.3%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 44.3%;"></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
  </section>

  <p>&nbsp;</p>

  <div class="slide">
      <div class="map" id="map3">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist8.png" /></div>
      <h2 class="chartTitle">District Eight: The Iron Range continued moving right</h2>
      <p>The Eighth District race to replace retired DFL congressman Rick Nolan was closely watched as a bellweather of Trump's hold on the Iron Range, which he won easily in 2016.</p>
          
      <p>In the end, the GOP  managed to flip this district into its column as Pete Stauber defeated Joe Radinovich by a comfortable margin. Most of the district moved right compated to 2016; Duluth was the primary holdout that shifted more toward Democrats.</p>

      <p>&nbsp;</p>
      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-rep winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Pete&nbsp;</span>Stauber
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>159,388</span></td>

              <td class="pct"><span class="num">50.7%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 50.7%;"></span>
              </td>
            </tr>

            <tr class="party-dfl" title="Democratic-Farmer-Labor">
              <td title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
              </td>

              <td class="cand">
                <span class="first">Joe&nbsp;</span>Radinovich
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>141,972</span></td>

              <td class="pct"><span class="num">45.2%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 45.2%;"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </section>

  <div class="slide">
      <div class="map" id="map8">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>
</div>