<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>How Minnesota's battleground districts shifted in the 2018 midterm</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <div class="article-dateline"><time pubdate datetime="2018-11-08T12:00:00">November 8, 2018</time></div>
      <p></p>
      <!-- share -->
  </div>

  <section class="container-lg">
      <p>Minnesota was home to <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">four of the most competitive federal congressional races</a> in the country, key gateways to each party's path to control the U.S. House of Representatives.</p>

      <p>In the end, the bounty was split between the DFL and GOP as the suburbs became more Democratic and greater Minnesota continued to further embrace Republicans. President Donald Trump seemed to drive increased midterm turnout across the state, both for and against him.</p>

      <p>Precinct-level data reveals where voting shifts from Democrat to Republican and vice-versa occured. Note the these maps don't necessarily show who led the vote in each precinct, but rather where the partisan vote swung between 2016 and this year.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist1.png" /></div>
      <h2 class="chartTitle">How District One shifted</h2>
      <p>With former Rep. Tim Walz running for governor, this southern Minnesota district was an open seat contested by John Hagedorn (R) and Dan Feehan (DFL). In the end, the presence of Walz up the ballot had minimal effect on this race as Hagedorn narrowly defeated Feehan in his fourth run for this seat.</p>
      <p>&nbsp;</p>
      <div class="key">
        <div class="resultRow topRow">
            <div class="name"><span class="key_legend r4"></span>&nbsp;Jim Hagedorn (R)</div>
            <div class="percent">50%</div>
        </div>
        <div class="resultRow">
            <div class="name"><span class="key_legend d4"></span>&nbsp;Dan Feehan (DFL)</div>
            <div class="percent">50%</div>
        </div>
    </div>
  </section>

  <div class="slide">
      <div class="map" id="map1">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                    <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                    </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist2.png" /></div>
      <h2 class="chartTitle">How District Two shifted</h2>
      <p>The rematch between Rep. Jason Lewis (R) and DFL challenger Angie Craig turned out very differently than in 2016. Without a third-party candidate on the ballot, Craig defeated Lewis by six points, shifting major suburban areas like Burnsville, Eagan and Lakeville more toward her favor.</p>
      <p>&nbsp;</p>
      <div class="key">
        <div class="resultRow topRow">
            <div class="name"><span class="key_legend d4"></span>&nbsp;Angie Craig (DFL)</div>
            <div class="percent">53%</div>
        </div>
        <div class="resultRow">
            <div class="name"><span class="key_legend r4"></span>&nbsp;Jason Lewis (R)</div>
            <div class="percent">47%</div>
        </div>
    </div>
  </section>

  <div class="slide">
      <div class="map" id="map2">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist3.png" /></div>
      <h2 class="chartTitle">How District Three shifted</h2>
      <p>District Three hosted among the most contentious of the campaign season's Congressional races between longtime incumbant Rep. Erik Paulsen (R) and Dean Phillips (DFL).</p>

      <p>But the results were far less heated than the campaign as Phillips dominated Paulsen by 12 points and shifted most the district in his favor.</p>

      <p>&nbsp;</p>

      <div class="key">
        <div class="resultRow topRow">
            <div class="name"><span class="key_legend d4"></span>&nbsp;Dean Phillips (DFL)</div>
            <div class="percent">56%</div>
        </div>
        <div class="resultRow">
            <div class="name"><span class="key_legend r4"></span>&nbsp;Erik Paulsen (R)</div>
            <div class="percent">44%</div>
        </div>
    </div>
  </section>

  <p>&nbsp;</p>

  <div class="slide">
      <div class="map" id="map3">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <div class="mapicon"><img src="./img/dist8.png" /></div>
      <h2 class="chartTitle">How District Eight shifted</h2>
      <p>The District Eight race to replace retired DFL congressman Rick Nolan was closely watched as a bellweather of Trump's hold on the Iron Range, which he won easily in 2016. In the end, the GOP finally managed to flip this district into its column as Pete Stauber defeated Joe Radinovich (DFL) by a comfortable margin.</p>

      <p>&nbsp;</p>
      <div class="key">
        <div class="resultRow topRow">
            <div class="name"><span class="key_legend r4"></span>&nbsp;Pete Stauber (R)</div>
            <div class="percent">51%</div>
        </div>
        <div class="resultRow">
            <div class="name"><span class="key_legend  d4"></span>&nbsp;Joe Radinovich (DFL)</div>
            <div class="percent">45%</div>
        </div>
    </div>
  </section>

  <div class="slide">
      <div class="map" id="map8">
            <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                    <defs>
                        <marker
                          id="arrowR"
                          markerUnits="strokeWidth"
                          markerWidth="10"
                          markerHeight="10"
                          viewBox="0 0 10 10"
                          refX="6"
                          refY="6"
                          orient="auto">
                          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                        </marker>
                      </defs>
                      <defs>
                            <marker
                              id="arrowD"
                              markerUnits="strokeWidth"
                              markerWidth="10"
                              markerHeight="10"
                              viewBox="0 0 10 10"
                              refX="6"
                              refY="6"
                              orient="auto">
                              <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                            </marker>
                          </defs>
              </svg>
      </div>
  </div>
</div>