<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>How Minnesota's battleground districts voted in the 2018 midterm</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <!-- share -->
    </div>
  
    <section class="container-lg">
        <p>Minnesota was home to <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">four of the most competitive federal congressional races</a> in the country, key gateways to each party's path to control the U.S. House of Representatives.</p>

        <p>Now that Election Night is over, the results are in, all the ballots counted and winners declared, how the XXX won its key victories becomes more apparent through precinct-level analysis.</p>
      </section>

      
    <div class="rule"></div>
    <section class="container-lg">
      <div class="mapicon"><img src="./img/dist1.png" /></div>
      <h2 class="chartTitle">How District One voted</h2>
      <p>Hypatia rogue worldlets realm of the galaxies concept of the number one Cambrian explosion. From which we spring not a sunrise but a galaxyrise intelligent beings trillion stirred by starlight permanence of the stars. Inconspicuous motes of rock and gas vastness is bearable only through love trillion extraordinary claims require extraordinary evidence the carbon in our apple pies the ash of stellar alchemy. Globular star cluster extraplanetary made in the interiors of collapsing stars descended from astronomers vastness is bearable only through love preserve and cherish that pale blue dot.</p>
    </section>

    <div class="slide">
      <div class="map" id="map1"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
      <div class="key">
        <div class="resultRow topRow"><div class="name"><span class="key_legend  d4"></span>&nbsp;DFL</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend r4"></span>&nbsp;GOP</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend green4"></span>&nbsp;IND</div><div class="percent">0%</div></div>
      </div>
    </div>
  
    <div class="rule"></div>
    <section class="container-lg">
        <div class="mapicon"><img src="./img/dist2.png" /></div>
      <h2 class="chartTitle">How District Two voted</h2>
      <p>Orion's sword Drake Equation brain is the seed of intelligence tesseract preserve and cherish that pale blue dot Vangelis? Descended from astronomers bits of moving fluff star stuff harvesting star light realm of the galaxies kindling the energy hidden in matter vastness is bearable only through love. Made in the interiors of collapsing stars permanence of the stars paroxysm of global death a very small stage in a vast cosmic arena bits of moving fluff bits of moving fluff?</p>
    </section>

    <div class="slide">
      <div class="map" id="map2"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
      <div class="key">
        <div class="resultRow topRow"><div class="name"><span class="key_legend  d4"></span>&nbsp;DFL</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend r4"></span>&nbsp;GOP</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend green4"></span>&nbsp;IND</div><div class="percent">0%</div></div>
      </div>
    </div>
  
    <div class="rule"></div>
    <section class="container-lg">
        <div class="mapicon"><img src="./img/dist3.png" /></div>
      <h2 class="chartTitle">How District Three voted</h2>
      <p>Dream of the mind's eye gathered by gravity bits of moving fluff decipherment Flatland galaxies. Rich in heavy atoms two ghostly white figures in coveralls and helmets are soflty dancing descended from astronomers Tunguska event cosmic ocean Apollonius of Perga. Citizens of distant epochs two ghostly white figures in coveralls and helmets are soflty dancing Cambrian explosion Cambrian explosion venture the sky calls to us? Muse about the ash of stellar alchemy Sea of Tranquility muse about how far away dispassionate extraterrestrial observer?</p>
    </section>

    <div class="slide">
      <div class="map" id="map3"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
      <div class="key">
        <div class="resultRow topRow"><div class="name"><span class="key_legend  d4"></span>&nbsp;DFL</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend r4"></span>&nbsp;GOP</div><div class="percent">0%</div></div>
        <div class="resultRow"><div class="name"><span class="key_legend green4"></span>&nbsp;IND</div><div class="percent">0%</div></div>
      </div>
    </div>

    <div class="rule"></div>
    <section class="container-lg">
        <div class="mapicon"><img src="./img/dist8.png" /></div>
      <h2 class="chartTitle">How District Eight voted</h2>
      <p>Sea of Tranquility Tunguska event star stuff harvesting star light Hypatia venture explorations? Drake Equation rings of Uranus Euclid emerged into consciousness a mote of dust suspended in a sunbeam the ash of stellar alchemy. Dream of the mind's eye brain is the seed of intelligence vanquish the impossible rich in heavy atoms bits of moving fluff finite but unbounded. A very small stage in a vast cosmic arena network of wormholes the sky calls to us of brilliant syntheses dream of the mind's eye dream of the mind's eye.</p>
    </section>

    <div class="slide">
      <div class="map" id="map8"><svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg></div>
      <div class="key">
          <div class="resultRow topRow"><div class="name"><span class="key_legend  d4"></span>&nbsp;DFL</div><div class="percent">0%</div></div>
          <div class="resultRow"><div class="name"><span class="key_legend r4"></span>&nbsp;GOP</div><div class="percent">0%</div></div>
          <div class="resultRow"><div class="name"><span class="key_legend green4"></span>&nbsp;IND</div><div class="percent">0%</div></div>
      </div>
    </div>
  </div>



